<div class="mx-auto w-full max-w-sm">
  <div>
    <div>
      <app-logo></app-logo>
    </div>
    <h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
      Промени своју лозинку
    </h2>
  </div>

  <div class="mt-8">
    <div>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mt-6">
          <label
            for="password"
            class="block text-sm font-medium leading-5 text-gray-700"
          >
            Стара Лозинка
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input
              id="password"
              type="text"
              formControlName="password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
            />
          </div>
          <div
            class="text-xs text-red-500 mt-1"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <span *ngIf="password.errors.required">
              Мораш да попуниш ово поље.
            </span>
          </div>
        </div>

        <div class="mt-6">
          <label
            for="newPassword"
            class="block text-sm font-medium leading-5 text-gray-700"
          >
            Нова Лозинка
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input
              id="newPassword"
              type="text"
              formControlName="newPassword"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
            />
          </div>
          <div
            class="text-xs text-red-500 mt-1"
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
          >
            <span *ngIf="newPassword.errors.required">
              Мораш да попуниш ово поље.
            </span>
            <span *ngIf="newPassword.errors.pattern">
              Лозинка мора да садржи минимално 7 карактера, од тога бар једно
              велико слово, један број и један специјални карактер, и мора
              почињати словом.
            </span>
          </div>
        </div>

        <div class="mt-6">
          <label
            for="newPasswordConfirmation"
            class="block text-sm font-medium leading-5 text-gray-700"
          >
            Потврди нову лозинку
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input
              id="newPasswordConfirmation"
              type="text"
              formControlName="newPasswordConfirmation"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
            />
          </div>
          <div
            class="text-xs text-red-500 mt-1"
            *ngIf="
              newPasswordConfirmation.invalid &&
              (newPasswordConfirmation.dirty || newPasswordConfirmation.touched)
            "
          >
            <span *ngIf="newPasswordConfirmation.errors.required">
              Мораш да попуниш ово поље.
            </span>
            <span *ngIf="newPasswordConfirmation.errors.mustMatch">
              Лозинке нису исте.
            </span>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end">
          <div class="text-sm leading-5">
            <button
              type="button"
              (click)="onGoToLogin()"
              class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150"
            >
              Повратак на почетну страну
            </button>
          </div>
        </div>

        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button
              type="submit"
              [disabled]="!resetForm.valid"
              class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out"
            >
              Промени лозинку
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
