<div class="shadow bg-gray-300 min-h-screen">
  <div class="bg-gray-800 pb-32">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="border-b border-gray-700">
          <div class="flex items-center justify-between h-16 px-4 sm:px-0">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <app-logo size="sm"></app-logo>
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline">
                  <a
                    [routerLink]="['/admin']"
                    [routerLinkActive]="['bg-gray-900', 'text-white']"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
                  >
                    Почетна
                  </a>
                  <a
                    [routerLink]="['/admin/poljoprivrednici']"
                    [routerLinkActive]="['bg-gray-900', 'text-white']"
                    class="ml-4 px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
                  >
                    Пољопривредници
                  </a>
                  <a
                    [routerLink]="['/admin/preduzeca']"
                    [routerLinkActive]="['bg-gray-900', 'text-white']"
                    class="ml-4 px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
                  >
                    Предузећа
                  </a>
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center md:ml-6">
                <div class="ml-3 relative">
                  <div>
                    <button
                      (click)="handleUserVisibilityToggle()"
                      class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                      id="user-menu"
                      aria-label="User menu"
                    >
                      <img
                        class="h-8 w-8 rounded-full"
                        [src]="korisnik.avatar"
                        [alt]="korisnik.username"
                      />
                    </button>
                  </div>
                  <div
                    *ngIf="userOpen"
                    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"
                  >
                    <div class="py-1 rounded-md bg-white shadow-xs">
                      <a
                        href="#"
                        (click)="onLogout()"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                      >
                        Одјави се
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="-mr-2 flex md:hidden">
              <button
                (click)="handleNavVisibilityToggle()"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
              >
                <svg
                  class="h-6 w-6"
                  stroke="currentColor"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    [class.hidden]="userOpen"
                    [class.inline-flex]="!userOpen"
                    class="inline-flex"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                  <path
                    [class.hidden]="!userOpen"
                    [class.inline-flex]="userOpen"
                    class="hidden"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        [class.block]="navOpen"
        [class.hidden]="!navOpen"
        class="border-b border-gray-700 md:hidden"
      >
        <div class="px-2 py-3 sm:px-3">
          <a
            [routerLink]="['/admin']"
            [routerLinkActive]="['bg-gray-900', 'text-white']"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
          >
            Почетна
          </a>
          <a
            [routerLink]="['/admin/poljoprivrednici']"
            [routerLinkActive]="['bg-gray-900', 'text-white']"
            class="ml-4 px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
          >
            Пољопривредници
          </a>
          <a
            [routerLink]="['/admin/preduzeca']"
            [routerLinkActive]="['bg-gray-900', 'text-white']"
            class="ml-4 px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium text-white focus:outline-none focus:text-white"
          >
            Предузећа
          </a>
        </div>
        <div class="pt-4 pb-3 border-t border-gray-700">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img
                class="h-10 w-10 rounded-full"
                [src]="korisnik.avatar"
                [alt]="korisnik.username"
              />
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">
                {{ korisnik.firstName }}
              </div>
              <div class="mt-1 text-sm font-medium leading-none text-gray-400">
                {{ korisnik.username }}
              </div>
            </div>
          </div>
          <div class="mt-3 px-2" role="menu">
            <a
              href="#"
              (click)="onLogout()"
              class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
              role="menuitem"
            >
              Одјави се
            </a>
          </div>
        </div>
      </div>
    </nav>
    <header class="py-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl leading-9 font-bold text-white">
          {{ viewService.getTitle() }}
        </h1>
      </div>
    </header>
  </div>
  <main class="-mt-32">
    <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
        <router-outlet></router-outlet>
      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>
