<div class="bg-gray-50 pt-12 sm:pt-16">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2
        class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10"
      >
        Добродошао {{ korisnik.Poljoprivrednik.firstName }},
        {{ korisnik.Poljoprivrednik.lastName }}
      </h2>
    </div>
  </div>

  <app-poljoprivrednik-rasadnici
    *ngIf="rasadnici.length > 0"
    [rasadnici]="rasadnici"
  ></app-poljoprivrednik-rasadnici>
</div>
